<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        nav {
            background-color: #333;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav ul li {
            float: left;
            margin-right: 10px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 14px 20px;
            display: block;
        }

        nav ul li a:hover {
            background-color: #111;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>

<body>
    
    <nav>
        <ul>
            <li><a href="http://localhost:8080/">Inicio</a></li>
            <li><a href="http://localhost:8080/products">Ver Productos</a></li>
            <li><a href="http://localhost:8080/add-product">Agregar Producto</a></li>
            <li><a href="http://localhost:8080/carts">Ver Carritos</a></li>
        </ul>
    </nav>
    <h1>Bienvenido</h1>
</body>

</html>